
#banner img {
    max-width: 80px; 
    height: auto;
    margin: top 10px; ;
    margin-right: 10px; 
    margin-left: 20px; 
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fafafa;
    color: #333;
    margin: 0;
    padding: 0;
}
#banner {
    background-color: #fafafa;
    color: #a42222;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#banner img {
    max-width: 80px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    color: #6a8fcb;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color:#6a8fcb;
    text-decoration: underline;
}


nav ul li a {
    background-color: #6a8fcb;
    color: #fff;
    padding: 8px 15px;
    border: none; 
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: #4a6eab;
    text-decoration: none;
}
