{% extends "base.njk" %}

{% block content %}
  <h1>Détails de l'athlete</h1>
  <div>
    <p><strong>Nom:</strong> {{ athlete.nom }}</p>
    <p><strong>Prenom:</strong> {{ athlete.prenom }}</p>
    <p><strong>pays:</strong> {{ athlete.pays }}</p>
    
  </div>
{% endblock %}
