{% extends "base.njk" %}

{% block content %}
  <h1>List of Athletes</h1>
  <ul>
    {% for athlete in athletes %}
      <li>
        <a href="/athlete/{{ athlete.id }}">{{ athlete.nom }} {{ athlete.prenom }}</a>
        <a href="/athletes/{{ athlete.id }}/update">Update</a>
         <form action="/athletes/{{ athlete.id }}/delete" method="POST">
          <button type="submit">Delete</button>
        </form>
      </li>
    {% endfor %}
  </ul>
   <a href="/athletes/create">Ajouter un athlete</a>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="/css/athleteList.css">
{% endblock %}


