{% extends "base.njk" %}


{% block content %}
 <div class="container">
    <h1>Détails de l'athlète</h1>
    <div>
      <p><strong>Nom :</strong> {{ athlete.nom }}</p>
      <p><strong>Prénom :</strong> {{ athlete.prenom }}</p>
      <p><strong>Pays :</strong> {{ athlete.pays }}</p>
    </div>
  </div>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="/css/detailSport.css">
{% endblock %}

