<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}{% endblock %}
    <title>Document</title>
</head>
<body>
    <div id="banner">
        <img src="/path/to/logo.png" alt="Logo">
        <nav>
            <ul>
                <li><a href="/page1">Connexion</a></li>
                <li><a href="/page2">Déconnexion</a></li>
                <!-- Ajoutez autant de liens que nécessaire pour vos pages -->
            </ul>
        </nav>
    </div>

    {% block content %}
    
    {% endblock %}
</body>
</html>

