{% extends "base.njk" %}

{% block content %}
<div class="container">
  <h1>Create a New Sport</h1>
<form action="/sports/create" method="post" enctype="multipart/form-data">
  <label for="nom">Sport Name:</label>
  <input type="text" id="nom" name="nom" required>
  <label for="photo">Sport Image:</label>
  <input type="file" id="photo" name="photo">
  <button type="submit">Create Sport</button>
</form>

</div>

{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="/css/createEpreuve.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
{% endblock %}


