{% extends "base.njk" %}

{% block content %}
  <h1>Détails du Epreuve</h1>
  <div>
    <p><strong>Nom:</strong> {{ epreuve.nom }}</p>
    <p><strong>Description:{{ epreuve.sport_id }}</strong></p>
    <!-- Ajoutez d'autres détails du sport en fonction de votre schéma de données -->
  </div>
{% endblock %}
