{% extends "base.njk" %}

{% block content %}
  <h1>Détails du Epreuve</h1>
  <div>
    <p><strong>Nom:</strong> {{ epreuve.nom }}</p>
    <p><strong>Description:{{ epreuve.sport_id }}</strong></p>
 
  </div>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="/css/detailSport.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">

{% endblock %}
