{% extends "base.njk" %}

{% block content %}
  <h1>Détails du Sport</h1>
  <div>
    <p><strong>Nom:</strong> {{ sport.nom }}</p>
    {% if sport.photo %}
      <p><strong>Photo:</strong></p>
      <img src="/images/{{ sport.photo }}" alt="Photo du sport">
    {% else %}
      <p>Aucune photo disponible</p>
    {% endif %}
  </div>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="/css/detailSport.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">

{% endblock %}
