{% extends "base.njk" %}

{% block content %}
  <h1>Détails du Sport</h1>
  <div>
    <p><strong>Nom:</strong> {{ sport.nom }}</p>
    <p><strong>Description:</strong></p>
    
  </div>
{% endblock %}
