{% extends "base.njk" %}

{% block content %}
<div class="container">
  <h1>Update Epreuve</h1>
  <form action="/epreuves/{{ epreuve.id }}/update" method="POST">
    <label for="nom">Epreuve Name:</label>
    <input type="text" id="nom" name="nom" value="{{ epreuve.nom }}" required>
    <label for="sport_id">Sport ID:</label>
    <input type="text" id="sport_id" name="sport_id" value="{{ epreuve.sport_id }}" required>
    <button type="submit">Update</button>
  </form>
</div>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="/css/updateAthleteForm.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">

{% endblock %}
