{% extends "base.njk" %}

{% block content %}
  <h1>Liste des athlètes</h1>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Médaille</th>
        <th>Épreuve</th>
      </tr>
    </thead>
    <tbody>
          {% for athlete in athletes %}
                <tr>
                    <td>{{ athlete.nom }}</td>
                    <td>{{ athlete.prenom }}</td>
                    <td>{{ athlete.medaille }}</td>
                    <td>{{ athlete.epreuve }}</td>
                </tr>
            {% endfor %}
    </tbody>
  </table>
{% endblock %}


{% block styles %}
  <link rel="stylesheet" type="text/css" href="/css/athleteMedailleList.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="/css/athleteList.css">
{% endblock %}

