{% extends "base.njk" %}

{% block content %}
  <div class="container">
    <h1>List of Epreuves</h1>
    <ul>
      {% for epreuve in epreuves %}
        <li>
          <a href="/epreuve/{{epreuve.id }}">{{ epreuve.nom }}</a>
        </li>
      {% endfor %}
    </ul>
   </div>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="/css/athleteList.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
{% endblock %}