{% extends "base.njk" %}

{% block content %}
  <h1>Liste des sports</h1>
  <table>
    <thead>
      <tr>
        <th>Nom du Pays</th>
        <th>Medaille</th>
        <th>Epreuve</th>
      </tr>
    </thead>
    <tbody>
        {% for pays in pays %}
                <tr>
                    <td>{{ pays.nom }}</td>
                    <td>{{ pays.medaille }}</td>
                    <td>{{ pays.epreuve }}</td>
                </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="/css/detailSport.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
{% endblock %}
