{% extends "base.njk" %}

{% block content %}
  <div class="container">
    <h1>List of Sports</h1>
    <ul>
      {% for sport in sports %}
        <li>
          <a href="/sport/{{ sport.id }}">{{ sport.nom }}</a>
          
        </li>
      {% endfor %}
    </ul>
  </div>


{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="/css/athleteList.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
{% endblock %}